*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
.idea/

# Binarios y Firmas
*.jks
*.keystore
*.apk
*.aar
*.jar

# Reportes de Lint
/lint
